@import url("//hello.myfonts.net/count/37441d");
.screenreader { margin: -1px; padding: 0; width: 1px; height: 1px; overflow: hidden; clip: rect(0 0 0 0); clip: rect(0, 0, 0, 0); position: absolute; }

.landing_page { /* Normalization */ /* Universal inheritance */ /* Opinionated defaults */ }
.landing_page img { border: 0; }
.landing_page :root { -ms-overflow-style: -ms-autohiding-scrollbar; overflow-y: scroll; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; }
.landing_page audio:not([controls]) { display: none; }
.landing_page details { display: block; }
.landing_page input[type="number"] { width: auto; }
.landing_page input[type="search"] { -webkit-appearance: textfield; }
.landing_page input[type="search"]::-webkit-search-cancel-button, .landing_page input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
.landing_page main { display: block; }
.landing_page summary { display: block; }
.landing_page pre { overflow: auto; }
.landing_page progress { display: inline-block; }
.landing_page small { font-size: 75%; }
.landing_page template { display: none; }
.landing_page textarea { overflow: auto; }
.landing_page [hidden] { display: none; }
.landing_page [unselectable] { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.landing_page *, .landing_page *::before, .landing_page *::after { -webkit-box-sizing: inherit; box-sizing: inherit; text-decoration: inherit; }
.landing_page * { color: inherit; font-family: inherit; font-size: inherit; font-style: inherit; line-height: inherit; }
.landing_page *, .landing_page *::before, .landing_page *::after { border-style: solid; border-width: 0; }
.landing_page * { margin: 0; padding: 0; }
.landing_page :root { -webkit-box-sizing: border-box; box-sizing: border-box; cursor: default; font-family: sans-serif; line-height: 1.5em; text-rendering: optimizeLegibility; vertical-align: top; }
.landing_page button, .landing_page input, .landing_page select, .landing_page textarea { background: transparent; }
.landing_page code, .landing_page kbd, .landing_page pre, .landing_page samp { font-family: monospace, monospace; }
.landing_page input { min-height: 1.5em; }
.landing_page nav ol, .landing_page nav ul { list-style: none; }
.landing_page select { -moz-appearance: none; -webkit-appearance: none; }
.landing_page select::-ms-expand { display: none; }
.landing_page select::-ms-value { color: currentColor; }
.landing_page table { border-collapse: collapse; border-spacing: 0; }
.landing_page textarea { resize: vertical; }
.landing_page ::-moz-selection { background-color: #1F365B; color: #fff; text-shadow: none; }
.landing_page ::selection { background-color: #1F365B; color: #fff; text-shadow: none; }
@media screen { .landing_page [hidden~="screen"] { display: inherit; }
  .landing_page [hidden~="screen"]:not(:active):not(:focus):not(:target) { clip: rect(0 0 0 0) !important; position: absolute !important; } }

@font-face { font-family: 'Interstate-BlackCond'; src: url("../fonts/Interstate-BlackCond.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Interstate-Bold'; src: url("../fonts/Interstate-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Interstate-BoldCond'; src: url("../fonts/Interstate-BoldCond.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Interstate-Regular'; src: url("../fonts/Interstate-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
/* @import must be at top of file, otherwise CSS will not work */
@font-face { font-family: 'Campton-SemiBold'; src: url("../fonts/37441D_0_0.eot"); src: url("../fonts/37441D_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/37441D_0_0.woff2") format("woff2"), url("../fonts/37441D_0_0.woff") format("woff"), url("../fonts/37441D_0_0.ttf") format("truetype"); }
html, body { height: 100%; margin: 0; padding: 0; }

/* ==========================================================================
	 Author's custom styles
	 ========================================================================== */
.landing_page { padding: 0; margin: 0 auto; color: #333; font-size: 22px; font-size: 1.375rem; line-height: 1.37; font-family: "Roboto", sans-serif; font-weight: normal; color: #302E2D; text-align: center; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; background-color: #f9f9f9; }
.landing_page strong { font-weight: 600; }
.landing_page .ftitle { font-family: "Campton-SemiBold", sans-serif; font-weight: normal; }
.landing_page h1, .landing_page h2, .landing_page h3, .landing_page h4 { font-family: "Campton-SemiBold", sans-serif; line-height: 100%; margin: 0; font-weight: normal; }
.landing_page a { text-decoration: none; }
.landing_page p { margin: 0; }
.landing_page img { height: auto; max-width: 100%; }
.landing_page article { position: relative; margin-left: auto; margin-right: auto; }
.landing_page section { margin-left: auto; margin-right: auto; max-width: 1048px; background-color: #fff; }
.landing_page section p { margin-bottom: 1em; }
.landing_page section p a { text-decoration: underline; font-weight: 600; }
.landing_page section p a:hover { text-decoration: none; }
.landing_page .transi, .landing_page .accordion-list .accordion-item .accordion-content { -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }
.landing_page .videoWrapper { position: relative; height: 327px; }
.landing_page .videoWrapper iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.landing_page .video { position: relative; }
.landing_page .video .videoWrapper { display: none; background-color: #fff; }
.landing_page .video img { display: block; }
.landing_page .video .videoCTA { cursor: pointer; }
.landing_page .video .videoCTA:hover .play { opacity: 1; }
.landing_page .video .play { opacity: 0.6; -webkit-transition: 300ms ease-in-out; transition: 300ms ease-in-out; position: absolute; top: 50%; left: 50%; margin-left: -43px; margin-top: -49px; }
.landing_page .alignMiddle { height: 268px; }
.landing_page .alignMiddle p { padding: 0 40px; }
.landing_page .alignMiddle p:last-child { margin-bottom: 0; }
.landing_page .maxwidth { max-width: 620px; margin-left: auto; margin-right: auto; }
.landing_page .container, .landing_page .accordion-list .accordion-item .accordion-toggle, .landing_page .accordion-list .accordion-item .accordion-content p { padding: 0 30px; }
.landing_page .dl { position: relative; z-index: 10; text-align: center; }
.landing_page .dl span { font-family: "Campton-SemiBold", sans-serif; display: inline-block; margin-bottom: 10px; }
.landing_page .dl a { display: inline-block; margin: 0 5px; }
.landing_page .dl img { display: inline-block; }
.landing_page .dl.first { position: relative; top: -30px; }
.landing_page .dl.second { margin-bottom: 46px; }
.landing_page .cta { width: 100%; text-align: center; }
.landing_page .cta a { -webkit-transition: all 0.15s ease; transition: all 0.15s ease; font-family: "Campton-SemiBold", sans-serif; display: inline-block; margin-left: auto; margin-right: auto; background: #FFDC54; text-align: center; border-radius: 6px; font-size: 22px; font-size: 1.375rem; line-height: 59px; padding: 0 29px; margin-bottom: 20px; }
.landing_page .cta a:hover { background-color: #E2C34A; }
.landing_page header.main { margin-left: auto; margin-right: auto; text-align: left; }
.landing_page header.main nav { background-color: #fff; position: fixed; top: 0; left: 0; right: 0; margin-left: auto; margin-right: auto; z-index: 20; padding-top: 20px; padding-bottom: 5px; padding-left: 20px; padding-right: 20px; }
.landing_page header.main nav div { max-width: 985px; margin-left: auto; margin-right: auto; position: relative; }
.landing_page header.main nav .logo-mixmag { width: 200px; }
@media only screen and (min-width: 450px) { .landing_page header.main nav .logo-mixmag { width: 248px; } }
.landing_page header.main nav a.goback { font-size: 16px; font-size: 1rem; line-height: 95%; padding-top: 5px; position: absolute; top: 0; right: 0; }
@media only screen and (min-width: 600px) { .landing_page header.main nav a.goback { padding-top: 11px; } }
.landing_page header.main nav a.goback span { display: block; }
@media only screen and (min-width: 600px) { .landing_page header.main nav a.goback span { display: inline; } }
.landing_page header.main .hero { text-align: center; color: #fff; background: url(../images/hero_bg.jpg) center top no-repeat; background-size: cover; position: relative; }
.landing_page header.main .hero article { padding-top: 155px; padding-left: 30px; padding-right: 30px; padding-bottom: 107px; }
@media only screen and (min-width: 600px) { .landing_page header.main .hero article { padding-top: 225px; padding-bottom: 125px; } }
.landing_page header.main .hero .title { text-transform: uppercase; line-height: 95%; font-size: 7vw; margin-bottom: 40px; max-width: 1008px; margin-left: auto; margin-right: auto; }
@media only screen and (min-width: 450px) { .landing_page header.main .hero .title { font-size: 40px; font-size: 2.5rem; } }
@media only screen and (min-width: 600px) { .landing_page header.main .hero .title { margin-bottom: 29px; font-size: 58px; font-size: 3.625rem; } }
.landing_page header.main .hero p { max-width: 660px; margin-left: auto; margin-right: auto; margin-bottom: 1.5em; font-size: 18px; font-size: 1.125rem; }
.landing_page .video { margin-bottom: 49px; max-width: 580px; margin-left: auto; margin-right: auto; }
@media only screen and (min-width: 600px) { .landing_page .video { padding-top: 28px; margin-bottom: 44px; } }
.landing_page .h2 { font-size: 24px; font-size: 1.5rem; margin-bottom: 32px; }
@media only screen and (min-width: 450px) { .landing_page .h2 { font-size: 28px; font-size: 1.75rem; } }
@media only screen and (min-width: 600px) { .landing_page .h2 { line-height: 52px; margin-top: 20px; } }
.landing_page .yellow-list { counter-reset: section; text-align: left; overflow: hidden; margin-bottom: 50px; }
.landing_page .yellow-list li { display: block; position: relative; }
@media only screen and (min-width: 600px) { .landing_page .yellow-list li { width: 50%; float: left; margin-bottom: 30px; }
  .landing_page .yellow-list li p { padding-right: 32px; } }
@media only screen and (min-width: 1024px) { .landing_page .yellow-list li { width: 33.33%; } }
.landing_page .yellow-list li:before { counter-increment: section; color: #FFDC54; position: absolute; left: 0; top: 0; font-family: "Campton-SemiBold", sans-serif; font-size: 32px; font-size: 2rem; content: "0" counter(section) ""; }
@media only screen and (min-width: 600px) { .landing_page .yellow-list li:before { top: -3px; } }
.landing_page .yellow-list li p { padding-left: 55px; font-size: 18px; font-size: 1.125rem; }
.landing_page .faq { position: relative; padding-top: 44px; padding-bottom: 30px; }
.landing_page .faq:before { left: 30px; right: 30px; position: absolute; top: 0; background-color: #eee; height: 1px; }
@media only screen and (min-width: 600px) { .landing_page .faq:before { display: block; content: ""; } }
.landing_page .accordion-list { text-align: left; overflow: hidden; margin-bottom: 30px; }
.landing_page .accordion-list .accordion-item { display: block; padding-bottom: 26px; border: 1px solid #EEEEEE; border-color-left: transparent; border-color-right: transparent; margin-bottom: 10px; }
@media only screen and (min-width: 600px) { .landing_page .accordion-list .accordion-item { border-color: #EEEEEE; } }
.landing_page .accordion-list .accordion-item .accordion-toggle { cursor: pointer; padding-top: 36px; position: relative; font-family: "Campton-SemiBold", sans-serif; font-size: 20px; font-size: 1.25rem; }
@media only screen and (min-width: 600px) { .landing_page .accordion-list .accordion-item .accordion-toggle { font-size: 22px; font-size: 1.375rem; } }
.landing_page .accordion-list .accordion-item .accordion-toggle .q { padding-right: 40px; padding-bottom: 14px; line-height: 118%; }
.landing_page .accordion-list .accordion-item .accordion-toggle i { -webkit-transition: all 0.1s ease; transition: all 0.1s ease; display: block; position: absolute; right: 30px; top: 42px; width: 26px; height: 15px; background: url(../images/icon-arrow.png) center top no-repeat; background-size: 100%; }
.landing_page .accordion-list .accordion-item.is-open { background-color: #F9F9F9; }
.landing_page .accordion-list .accordion-item.is-open .accordion-toggle i { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.landing_page .accordion-list .accordion-item.is-open .accordion-content { max-height: 500px; }
.landing_page .accordion-list .accordion-item .accordion-content { overflow: hidden; max-height: 0; }
.landing_page .accordion-list .accordion-item .accordion-content a { text-decoration: underline; }
.landing_page .accordion-list .accordion-item .accordion-content a:hover { text-decoration: none; }
.landing_page .accordion-list .accordion-item .accordion-content p { font-size: 18px; font-size: 1.125rem; margin-bottom: 0; }
